[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
motor = "*"
python-dotenv = "*"
fastapi = {extras = ["standard"], version = "*"}
pyjwt = "*"
langchain = "*"
langchain-community = "*"
pypdf = "*"
langchain-text-splitters = "*"
sentence-transformers = "*"
langchain-redis = "*"
langchain-huggingface = "*"
langchain-mongodb = "*"

[dev-packages]

[requires]
python_version = "3.12"
