LOG_LEVEL=INFO
MODELS='[{"name":"meta-llama/Meta-Llama-3.2-90B-Instruct","endpoints":[{"url":"http://3.210.60.7:8080/","type":"tgi"}],"classification":"text-generation","active": true},{"name":"mistralai/Mistral-7B-Instruct-v0.3","endpoints":[{"url":"http://3.210.60.7:8080/","type":"tgi"}],"classification":"text-generation","active": false},{"name":"meta-llama/Llama-Guard-3-8B","endpoints":[{"url":"http://100.28.34.190:8080", "type":"tgi"}],"stream":false,"classification":"content-safety","active":false}]'
EMBEDDING_MODELS='[{"name":"BAAI/bge-large-en-v1.5","endpoints":[{"url":"http://100.28.34.190:8070/", "type":"tei"}],"description":"BAAI is designed specifically for generating dense vector embeddings for various natural language processing (NLP) tasks.","dimensions":1024,"max_batch_tokens":32768,"max_client_batch_size":128,"max_batch_requests":64,"num_workers":8,"auto_truncate":true,"active":true}]'
DATABASE_NAME=chat_history
MONGODB_URL='mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=chat-app'
VECTOR_STORE=redis
REDIS_URL='redis://100.28.34.190:6379/0'
VECTOR_STORE_SCHEMA='[{"name":"uuid","type":"tag"},{"name":"conversation_id","type":"tag"},{"name":"source","type":"tag"}]'
NLP_HARMONY=true
JWT_CERT_PATH=/etc/jwt-secrets